<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <%= render 'form' %>
    <br><br>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

<h3>Clubhouse Posts:</h3>

<% if @posts.count.zero? %>
  <h5>There are currently no posts in the clubhouse.</h5>
<% elsif user_signed_in? %>
  <% @posts.each do |post| %>
    <%= post.body %><br>
    <%= "-#{post.user.username}" %><br><br>
  <% end %>
<% else %>
  <% @posts.each do |post| %>
    <p>
      <%= post.body %><br>
      -login to view author...
    </p>  
  <% end %>
<% end %>